@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400&display=swap');

$video-game-font: 'Press Start 2P', cursive;
$lato: 'Lato', sans-serif;

$primary-color: #B3446C;
$dark-primary: darken($primary-color, 8%); 
$light-primary: lighten($primary-color, 45%);

@mixin text {
    color: $primary-color; 
    font-family: $lato;
    font-size: 1.15em;
}

header {
    text-align: center;
    padding: 20px;
    @include text;
    h1 {
        font-size: 56px;
        margin-bottom: 0px; 
        text-transform: uppercase;
        letter-spacing: 3px;
        font-family: $video-game-font;
    }
    p {
        margin-top: 5px;
        letter-spacing: .8px;
    }
    .blink {
        animation: blink 1s step-start 0s infinite;
        
    }
}

//styling for the Standard/Expert buttons
.main-btns{
    margin: auto;
    @media(max-width: 700px){
        margin-bottom: 20px ;
    }
    @media(min-width:500px){
        width: 72%;
    }
    @media(min-width:700px){
        width: 60%;
    }
    @media(min-width:900px){
        width: 40%;
    }
    button{
        background-color: $primary-color;
        color: $light-primary;
        font-size: 20px;
        width: 50%;
        height: 75px;
        padding: 10px;
        border-radius: .25rem;
        &:hover {
            background-color: rgba($primary-color, 0.9);
        }
        &:disabled {
            background-color: rgba($primary-color, 0.2);
            cursor: not-allowed;
        }
    }
}

.center {
    margin: 0 auto;
    height: 150px;
    @media (min-width: 900px){
        width: 80%;
    }
}

//counter scores
.counter {
    overflow: hidden;
    background-color: $primary-color;
    color: $light-primary;
    display: inline-block;
    font-family: arial;
    width: 18%;
    border-radius: 5%;
    text-align: center;
    @media(min-width: 500px){
        font-size: 15px;
        padding: 5px 5px 15px 5px;
    }
    @media(min-width: 1000px){
        font-size: 26px;
        height: 150px;
        padding: 12px;
    }
    p {
        margin-top: 14px;
        margin-bottom: 0;
    }
    &-headline {
        font-weight: 900;
        text-transform: uppercase;
        @media(min-width: 700px){
            letter-spacing: 2px;
        }
    }
    &-score {
        font-weight: 600;
    }
}

//display rules and feedback
.display { 
    width: 58%;
    text-align: center;
    display: inline-block;
    letter-spacing: .9px;
    font-family: arial;
    
    @include text;
    @media(max-width: 700px){
        font-size: 1rem;
    }
    color: $dark-primary;
    
    &-rules {
        padding-bottom: 10px;
        &-headline {
            text-transform: uppercase;
            letter-spacing: 3px;
            font-weight: 900;
        }
    }
    &-message {
        margin-bottom: 20px;
        font-size: 17px;
        font-weight: 900;
        text-transform: uppercase;
    }
}


  form {  
    background-color: $primary-color;
    border-radius: 5px;
    @media(min-width: 500px){
        margin: 26px auto 10px;
        width: 80%;
    }
    @media(min-width: 700px){
        width: 55%;
    }
    @media(min-width: 980px){
        margin: 75px auto 10px;
        width: 40%;
    }
    input[type=text] {
        width: 45%;
        flex-grow: 1;
        border-width: 0 0 1px 0;
        margin: 15px 10px 15px 15px;
        padding: 5px 10px 5px 10px;
        border-radius: 5px;
        background-color: $dark-primary;
        border-style: none;
        text-shadow: none;
        text-transform: uppercase;
        color: $light-primary;
        letter-spacing: 2px;
        outline: none;
        font-size: 20px;
    }
    button {
        background-color: $dark-primary; 
        height: 40px;
        color: $light-primary;
        font-size: 15px;
        border: none;
        border-radius: 5px; 
        margin: 0 2px;
        &:hover {
            background-color: $light-primary;
            color: $dark-primary;
        }
        @media(min-width: 1000px){
            width: 22%;
        }
    }
  }
  input[type=text]::-webkit-input-placeholder{
    color: $light-primary;
    letter-spacing: 2px;
    font-size: 20px;
  } 

  //reset button
.reset {
    margin: 15px auto;
    @media(min-width: 500px){
        width: 30%;
    }
    @media(min-width: 1000px){
        width: 15%;
    }
    button {
        width: 100%;
        font-size: 18px;
        height: 50px;
        background-color: #fff;
        color: $dark-primary;
        border-radius: 5px;
        border: 1px solid $primary-color;
        &:hover {
            color: $light-primary;
            background-color: $dark-primary;
        }
    }
}


@keyframes blink {
    50% {
      opacity: 0.0;
    }
  }
.not-here{
    visibility: hidden;
}
.here {
    visibility: visible;
}