@import url("https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato:300,400&display=swap");
header {
  text-align: center;
  padding: 20px;
  color: #B3446C;
  font-family: "Lato", sans-serif;
  font-size: 1.15em;
}
header h1 {
  font-size: 56px;
  margin-bottom: 0px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-family: "Press Start 2P", cursive;
}
header p {
  margin-top: 5px;
  letter-spacing: 0.8px;
}
header .blink {
  animation: blink 1s step-start 0s infinite;
}

.main-btns {
  margin: auto;
}
@media (max-width: 700px) {
  .main-btns {
    margin-bottom: 20px;
  }
}
@media (min-width: 500px) {
  .main-btns {
    width: 72%;
  }
}
@media (min-width: 700px) {
  .main-btns {
    width: 60%;
  }
}
@media (min-width: 900px) {
  .main-btns {
    width: 40%;
  }
}
.main-btns button {
  background-color: #B3446C;
  color: #f6e7ec;
  font-size: 20px;
  width: 50%;
  height: 75px;
  padding: 10px;
  border-radius: 0.25rem;
}
.main-btns button:hover {
  background-color: rgba(179, 68, 108, 0.9);
}
.main-btns button:disabled {
  background-color: rgba(179, 68, 108, 0.2);
  cursor: not-allowed;
}

.center {
  margin: 0 auto;
  height: 150px;
}
@media (min-width: 900px) {
  .center {
    width: 80%;
  }
}

.counter {
  overflow: hidden;
  background-color: #B3446C;
  color: #f6e7ec;
  display: inline-block;
  font-family: arial;
  width: 18%;
  border-radius: 5%;
  text-align: center;
}
@media (min-width: 500px) {
  .counter {
    font-size: 15px;
    padding: 5px 5px 15px 5px;
  }
}
@media (min-width: 1000px) {
  .counter {
    font-size: 26px;
    height: 150px;
    padding: 12px;
  }
}
.counter p {
  margin-top: 14px;
  margin-bottom: 0;
}
.counter-headline {
  font-weight: 900;
  text-transform: uppercase;
}
@media (min-width: 700px) {
  .counter-headline {
    letter-spacing: 2px;
  }
}
.counter-score {
  font-weight: 600;
}

.display {
  width: 58%;
  text-align: center;
  display: inline-block;
  letter-spacing: 0.9px;
  font-family: arial;
  color: #B3446C;
  font-family: "Lato", sans-serif;
  font-size: 1.15em;
  color: #95395a;
}
@media (max-width: 700px) {
  .display {
    font-size: 1rem;
  }
}
.display-rules {
  padding-bottom: 10px;
}
.display-rules-headline {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 900;
}
.display-message {
  margin-bottom: 20px;
  font-size: 17px;
  font-weight: 900;
  text-transform: uppercase;
}

form {
  background-color: #B3446C;
  border-radius: 5px;
}
@media (min-width: 500px) {
  form {
    margin: 26px auto 10px;
    width: 80%;
  }
}
@media (min-width: 700px) {
  form {
    width: 55%;
  }
}
@media (min-width: 980px) {
  form {
    margin: 75px auto 10px;
    width: 40%;
  }
}
form input[type=text] {
  width: 45%;
  flex-grow: 1;
  border-width: 0 0 1px 0;
  margin: 15px 10px 15px 15px;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  background-color: #95395a;
  border-style: none;
  text-shadow: none;
  text-transform: uppercase;
  color: #f6e7ec;
  letter-spacing: 2px;
  outline: none;
  font-size: 20px;
}
form button {
  background-color: #95395a;
  height: 40px;
  color: #f6e7ec;
  font-size: 15px;
  border: none;
  border-radius: 5px;
  margin: 0 2px;
}
form button:hover {
  background-color: #f6e7ec;
  color: #95395a;
}
@media (min-width: 1000px) {
  form button {
    width: 22%;
  }
}

input[type=text]::-webkit-input-placeholder {
  color: #f6e7ec;
  letter-spacing: 2px;
  font-size: 20px;
}

.reset {
  margin: 15px auto;
}
@media (min-width: 500px) {
  .reset {
    width: 30%;
  }
}
@media (min-width: 1000px) {
  .reset {
    width: 15%;
  }
}
.reset button {
  width: 100%;
  font-size: 18px;
  height: 50px;
  background-color: #fff;
  color: #95395a;
  border-radius: 5px;
  border: 1px solid #B3446C;
}
.reset button:hover {
  color: #f6e7ec;
  background-color: #95395a;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
.not-here {
  visibility: hidden;
}

.here {
  visibility: visible;
}

/*# sourceMappingURL=index.css.map */
